# IDE
.idea/
.vscode/
# Database
db/
# NMP
node_modules/
npm-debug.log
# Next
.next
# Docker
compose.yml
compose.prod.yml
Dockerfile
.dockerignore
.env*
# GIT
.git
.gitignore
.github
# MISC
README.md
cron/